**/node_modules/
**/webpack-stats.jsonon
**/pip-selfcheck.json
**/.idea/
**/.vscode/
**/package-lock.json
**/.DS_Store

**/__pycache__/
**/.env

**/.git
**/.github
**/.git*

**/venv

**/log/*
**/logs/*
**/*.log
**/*.log.*

**/data/
**/media/*

**/*.tar
**/*.zip
**/volumes/
